body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --clr-primary: #b1a0f0;
}

a {
    color: inherit;
    text-decoration: none;
}
/* Login */
.login {
    padding: 2rem;
    min-height: 100vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
    max-width: 35rem;
    margin: 0 auto;
}

.login-banner {
    padding: 4rem 2rem;
    background-color: var(--clr-primary);
    width: 100%;
    text-align: center;
}

.login-card {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* Job Applications */
section {
    padding: 3rem 0rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.job-applications {
    /* background-color: pink; */
}
.application-table {
    margin-top: 3rem;
    border: 1px solid var(--clr-primary);
    max-width: 60rem;
}

.application-table .MuiTableCell-head {
    font-weight: 700;
}

.stack-analytics {
    background-color: skyblue;
}

.job-map {
    background-color: lightgreen;
}

.drawer-desktop .MuiDrawer-paper {
    display: flex;
    top: 65px;
    height: calc(100vh - 65px);
    padding: 1rem;
}

.sidebar-footer {
    margin-top: auto;
}
